<%= simple_form_for(@profile||=Profile.new) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :avatar %>
    <%= f.input :description_short %>
    <%= f.input :description_long %>
    <%= f.input :linkedin %>
    <%= f.input :github %>
    <%= f.input :twitter %>
    <%= f.input :personal_url %>
    <%= f.input :resume %>
    <%= f.input :for_hire, input_html: { class: 'form-control' } %>

  <div class="actions">
    <%= f.submit %>
  </div>

  
<% end %>
