<%= simple_form_for(@profile||=Profile.new) do |f| %>


    <%= f.input :avatar %>
    <%= f.input :description_short %>
    <%= f.input :description_long %>
    <%= f.input :linkedin, placeholder: 'www.linkedin.com/**you**' %>
    <%= f.input :github, placeholder: 'www.github.com/**you**' %>
    <%= f.input :twitter, placeholder: 'www.twitter.com/**you**' %>
    <%= f.input :personal_url, placeholder: 'www.you.com' %>
    <%= f.input :resume %>
    <%= f.input :for_hire, input_html: { class: 'form-control' } %>
    <br>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
