<div class="profile-container">
  <div class="row">
    <% if @user.projects.count > 0 %>
      <% @user.projects.each do |p| %>
          <b>Project:</b> <%= p.title %> &nbsp;-&nbsp; <b>Date:</b> <%= p.date %><br><br>
          <p><%= p.description %></p>
          <b>GitHub</b>: <%= link_to p.github_url%><br>
          <b>Project link:</b>: <%= link_to p.direct_url%><br>
        <% end %>
      <% else %>
        <h3>No Projects Entered</h3>
    <% end %>
  </div>
</div>
