<div class="col-md-10 col-md-offset-1">
  <div class="col-md-4">
    <%= image_tag @profile.avatar.url(:square) %>
  </div>

  <div class="col-md-8">
    <h1><%= @user ? @user.full_name : "YOU NEED TO SET @user TO SOMETHING" %></h1>
    <%= Faker::Lorem.paragraph %>
    <%= Faker::Lorem.paragraph %>
    <%= Faker::Lorem.paragraph %>
  </div>
  <div class="col-md-8">
    <%= fa_icon "home", class: "big-icon"%>
    <%= fa_icon "twitter-square", class: "big-icon"%>
    <%= fa_icon "github-square", class: "big-icon"%>
    <%= fa_icon "linkedin-square", class: "big-icon"%>
  </div>
</div>
