<h1 class="text-center"><%= current_user.full_name%></h1>

<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="#profile" role="tab" data-toggle="tab">About</a></li>
        <li role="presentation"><a href="#projects" role="tab" data-toggle="tab">Projects</a></li>
        <li role="presentation"><a href="#experiences" role="tab" data-toggle="tab">Experiences</a></li>
        <li role="presentation"><a href="#education" role="tab" data-toggle="tab">Education</a></li>
        </li>
        <li role="presentation"><a data-toggle="modal" data-target="#somethinghere" role="tab">Preview Profile</a>
        </li>
      </ul>
    </div>

    <div class="col-md-10">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="profile">
          <div class="col-md-6 col-md-offset-2">
            <%= render "profiles/form" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="projects">
          <div class="col-md-6 col-md-offset-2">
            <%= render "projects/form" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="experiences">
          <div class="col-md-6 col-md-offset-2">
            <%= render "experience" %>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="education">
          <div class="col-md-6 col-md-offset-2">
            <%= render "educations/form" %>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>

<!--**********************************************************************  -->
<!--*****  EVERYTHING BELOW HERE LIVE OUTSIDE THE PAGE *******************  -->
<!--*******  ALL DIVS ABOVE ARE CLOSED ***********************************  -->
<!--**** LEAVE THE BOTTOM ALONE, YOU CAN COMMENT IT OUT IF IT GIVES YOU   -->
<!-- ANY PROBLEMS -->


  <!-- Modal -->
  <div class="modal fade" id="somethinghere" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h1 class="modal-title" id="myModalLabel">Preview</h1>
        <div class="modal-body">

<!--*************************************************************************-->
            <%= render "showform" %>

                <li id= "skills">skills</li>
                <li id= "education">skills</li>
                <li id= "experiences">skills</li>
                <li id= "projects">skills</li>


              <ul class="nav nav-pills nav-stacked" role="tablist">
                <li id="skills" role="presentation" class="active"><a href="#skills"  role="tab" data-toggle="tab">Skills</a></li>
                <li role="presentation" id="education"><a href="#education"  data-toggle="tab">Education</a></li>
                <li role="presentation"><a href="#experiences" id="experiences" role="tab" data-toggle="tab">Experiences</a></li>
                <li role="presentation"><a href="#projects" id="projects" role="tab" data-toggle="tab">Projects</a></li>
                </li>
              </ul>

            <h1 id="target"></h1>



<!--*************************************************************************-->
          <span class="right"><button type="button" class="btn btn-default stn-sm" data-dismiss="modal">Close</button></span>
        </div>
      </div>
    </div>
  </div>
