
<%= simple_form_for @user, url: users_path do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
  <% if @user.persisted? %>
      <%= f.input :current_password, "Enter your password to save changes" %>
  <% end %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= recaptcha_tags %>
  <div class="form-group">
    <%= f.submit  class: "btn btn-primary" %>
  </div>
<% end %>
