<div id="<%= p.id %>-project">
  <b>Tile:</b><%=  p.title %><br>
  <b>Description:</b> <%= p.description %><br>
  <a href="http://<%= p.github_url %>"><b>GitHub</b>: <%= p.github_url%><br><a>
  <a href="http://<%= p.direct_url %>"><b>Project link:</b>: <%= p.direct_url %><br><a>
  <b>Project Date:</b> <%= p.date %><br>
  <span class="right"><a data-toggle="modal" data-target="#<%= p.id %>-modal">Edit</a> |
   <%= link_to "Delete", project_path(p), method: :delete, remote: true %></span>
   <hr>
   <br>
</div>

<div class="modal fade" id="<%= p.id %>-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">Edit Project</h1>
      <div class="modal-body">
        <div id="<%= p.id %>-errors" class="red"></div>
        <%= simple_form_for ( @project = p ), html: {class: "project-form form-group"}, method: :patch, remote: true do |f| %>

            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :github_url %>
            <%= f.input :direct_url %>
            <%= f.input :date %>
            <%= f.submit %>
        <span class="right"><button type="button" class="btn btn-default stn-sm" data-dismiss="modal">Close</button></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
