<b><%=  p.title %></b><br>
    <%= p.description  %><br>
    <%= p.github_url %><br>
    <%= p.direct_url %><br>
    <%= p.date %><br>
    <span class="right"><%= link_to "Edit", edit_project_path(p) %>
    <%= link_to "Delete", project_path(p), method: :delete %></span>
