<b>Tile:</b> <%=  e.job_title %><br>
<b>Company:</b> <%= e.company %><br>
<b>URL:</b> <%= e.company_url %><br>
<b>Description:</b> <%= e.description %><br>
<b>Current Position:</b>
<% if e.presently_working == TRUE %>
   <input type="checkbox" name="presently_working" id="presently_working" checked="checked">
   <% else %>
   <input type="checkbox" name="optimize" id="optimize">
   <% end %>
&nbsp;&nbsp;&nbsp; <b>Start Date:</b> <%= e.start_date %> - <b>End Date:</b> <%= e.end_date %><br>
<span class="right"><%= link_to "Edit", edit_experience_path(e) %> |
 <%= link_to "Delete", experience_path(e), method: :delete %></span>
 <hr>
 <br>
