<!--
  This file is a  partial that displays a single experience entry
PREREQ: Wrapping view must loop, and start a table.
        Table should have 2 columns: START and END dates | Job Position
        Each Entry is 2 rows.                            | Description
INPUT: exp - Experience variable to display
-->

<div class="well" id="<%=dom_id(exp) %>">
  <tr>
    <% if exp.presently_working%>
      <td><%= format_month_year(exp.start_date) %> - Present</td>
    <% else %>
      <td><%= format_month_year(exp.start_date) %> - <%= format_month_year(exp.end_date) %></td>
    <% end %>
    <td><%= exp.job_title %></td>
    <% if exp.company_url.nil? %>
      <td><%= exp.company %></td>
    <% else %>
      <td><%= link_to exp.company, "http://www.google.com"  %></td>
    <% end %>
  </tr>
  <tr>
    <td></td>
    <td colspan=2><%= exp.description %></td>
  </tr>
</div>
