<!--
  This file is a  partial that displays a single experience entry
PREREQ: Wrapping view must loop, and start a table.
        Table should have 2 columns: START and END dates | Job Position
        Each Entry is 2 rows.                            | Description
INPUT: exp - Experience variable to display
-->
<b><%=  e.job_title %></b><br>
    <%= e.company %><br>
    <%= e.company_url %>
    <%= e.description %><br>
    <% if e.presently_working %>
      <%= e.start_date %> - <%= e.end_date %><br>
    <% else %>
      <%= e.start_date %> - <%= e.end_date %><br>
    <% end %>
    <span class="right"><%= link_to "Edit", edit_experience_path(e) %>
    <%= link_to "Delete", experience_path(e), method: :delete %></span>
