<b><%=  e.institution %></b><br>
    <%= e.degree %><br>
    <%= e.desc %><br>
    <%= e.year %><br>
    <span class="right"><%= link_to "Edit", edit_education_path(e) %>
    <%= link_to "Delete", education_path(e), method: :delete %></span>
