<%= simple_form_for(@education ||= Education.new) do |f| %>
  <% if @education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@education.errors.count, "error") %></h2>

      <ul>
      <% @education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :degree %>
    <%= f.input :institution %>
    <%= f.input :desc %>
    <%= f.input :year %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
