<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("logo.png"), root_path, class:"navbar-brand"%>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown" id= "padding">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ACCOUNT ACTIONS<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <%if current_user.profile %>
              <li><%= link_to "Edit Your Profile", edit_profile_path(current_user.slug)%></li>
            <% else %>
              <li><%= link_to "Create Your Profile", new_profile_path%></li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to "Edit Account Details", edit_users_path%></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
          </ul>
          <% else %>
          <li id="padding"><%= link_to "SIGN UP", new_user_path%></a></li>
          <li id="padding"><%= link_to "LOGIN", new_session_path%></a></li>
          <% end %>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
